/Training/*/*
!/Training/*/*.*
/Training/*/*.class
!/Training/*/in
!/Training/*/source
/Training/*/a.out
!/Training/*/*/
/Training/*/*/*
!/Training/*/*/*.*
/Training/*/*.class
!/Training/*/*/in
/Training/*/*/a.out
*.toc
*.aux
*.log
