/Training/**/*
!/Training/**/*/
!/Training/**/source
!/Training/**/*.*
/Training/**/*.class
/Training/**/a.out
/Training/**/META-INF/

/Homework/**/*
!/Homework/**/*/
!/Homework/**/source
!/Homework/**/*.*
/Homework/**/*.class
/Homework/**/a.out
/Homework/**/META-INF/

*.toc
*.aux
*.log
