/Training/**/*
!/Training/**/*/
!/Training/**/in
!/Training/**/source
!/Training/**/*.*
/Training/**/*.class
/Training/**/a.out

/Homework/**/*
!/Homework/**/*/
!/Homework/**/in
!/Homework/**/source
!/Homework/**/*.*
/Homework/**/*.class
/Homework/**/a.out

*.toc
*.aux
*.log
